@font-face {
  font-family: 'black_ops_oneregular';
  src: url('../assets/blackopsone-regular-webfont.woff2') format('woff2'),
       url('../assets/blackopsone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: grey;
  color: white;
}

body,
select,
button {
  font-family: 'black_ops_oneregular', Arial, Helvetica, sans-serif;
}

/*
  PLACE SHIP SCREEN
*/
.header {
  margin: 24px 0;
  text-align: center;
}

.title {
  font-size: 48px;
}

.instruction {
  margin-top: 8px;
  font-size: 20px;
}

#setup-game-div {
  margin: auto;
  width: 90%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

#template-grid-div {
  margin: auto;
  width: 80%;
}

.empty-sq {
  background-color: rgb(3, 3, 53);
}

.ship-sq {
  background-color: grey;
}

/*
  BATTLE SCREEN
*/
#main-screen {
  display: grid;
  grid-template-rows: 1fr 1fr 400px 300px;
}

.target-grid {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.indicator-sq,
.empty-sq,
.ship-sq {
  width: 40px;
  height: 40px;

  margin-top: 0.5px;
  margin-left: 0.5px;
}

.indicator-sq, 
.empty-sq,
.ship-sq {
  border-style: solid;
  border-width: 0.5px;
}

.indicator-sq,
.ship-sq {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator-sq {
  border-color: rgba(256, 256, 256,0);
}

.empty-sq {
  border-color: black;
}

.target-square {
  width: 35px;
  height: 35px;

  margin-top: 0.5px;
  margin-left: 0.5px;

  border-style: solid;
  border-color: black;
  border-width: 0.5px;
}

.ocean-square {
  width: 25px;
  height: 25px;

  margin-top: 0.5px;
  margin-left: 0.5px;

  border-style: solid;
  border-color: black;
  border-width: 0.5px; 
}



#user-input-div {
  display: grid;
  grid-template-columns: repeat(4, 2fr) 1fr;
  grid-template-rows: repeat(7, 1fr);
}

.form-div {
  grid-column: 3 / 6;
}

.input-form-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.not-ready {
  opacity: 0.33;
  filter: alpha(opacity=33);
}

