@font-face {
  font-family: 'black_ops_oneregular';
  src: url('../assets/blackopsone-regular-webfont.woff2') format('woff2'),
       url('../assets/blackopsone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: grey;
  color: white;
}

body,
select,
button {
  font-family: 'black_ops_oneregular', Arial, Helvetica, sans-serif;
}

/*
  1. PLACE SHIP SCREEN
*/
.header {
  margin: 24px 0;
  text-align: center;
}

.title {
  font-size: 48px;
}

.instruction {
  margin-top: 8px;
  font-size: 20px;
}

#setup-game-div {
  margin: auto;
  width: 90%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*
  1.1 GRID
*/ 
#template-grid-div {
  margin: auto;
  width: 80%;
}

.indicator-sq,
.empty-sq,
.ship-sq {
  width: 40px;
  height: 40px;

  margin-top: 0.5px;
  margin-left: 0.5px;
}

.indicator-sq, 
.empty-sq,
.ship-sq {
  border-style: solid;
  border-width: 0.5px;
}

.indicator-sq,
.ship-sq {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-sq {
  background-color: rgb(3, 3, 53);
  border-color: black;
}

.ship-sq {
  background-color: grey;
}

/*
  1.2 USER INPUT FORM
*/
#user-input-form {
  margin-top: 2%;
  height: 86%;

  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr) 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.input-form-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1.4fr;
}

.form-div {
  grid-column: 4 / 7;
}

.below-form {
  display: flex;
  justify-content: center;
}

#next-step-btn {
  height: 40px;
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  2. BATTLE SCREEN
*/
#main-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#next-turn-btn {
  margin-top: 12px;
}

.target-grid,
.ocean-grid {
  display: flex;
  flex-direction: column;

  margin: auto;
}

.row {
  display: flex;
}

.target-grid .hit-square,
.ocean-grid .hit-square {
  color: rgb(184, 8, 8);
}

.indicator-sq {
  border-color: rgba(256, 256, 256,0);
}

.target-square,
.ocean-square {
  margin-top: 0.5px;
  margin-left: 0.5px;

  border-style: solid;
  border-color: black;
  border-width: 0.5px; 

  display: flex;
  justify-content: center;
  align-items: center;
}

.target-square {
  width: 40px;
  height: 40px;

  background-color: rgb(3, 3, 53);
}

.ocean-square {
  width: 35px;
  height: 35px;
}





.not-ready {
  opacity: 0.33;
  filter: alpha(opacity=33);
}

